Сделать робота для визуального контроля продукции, изготавливаемой на заводе
Это позволит сократить издержки на производство продукции
Снижение риска брака - "человеческого фактора"
Освободит людей от простейшей, но важной операции
